dein
eclipse.jdt.ls/
lazy-lock.json
lua-language-server/
lua/lv-user-config/
lua/lv-user/
lv-config.lua
lv-settings.lua
nodepath.vim
nv-settings.lua
pack/
paths.vim
pythonpath.vim
session
spell/
wiki/

autoload/plugged/*
tags*
utils/java/*
vimspector-config/gadgets/*

*.backup
*.bak
*.old
*.temp
*.tmp

.debuggers/
.language-servers/
.luacheckcache
.luarc.json
.netrwhist
